{
    "accessRights": {
        "teststreamname": {
            "password": "teststreampwd"
        }
    },
    "mirrorFrom": [
        {
            "url: "wss://wobble.kaetemi.be"
        }
    ],
    "storage": "./record/",
    "mirrorStorage": "./mirror/",
    "mirrorStorageEnabled": false
}